body {
    
   background-image: url(vines_and_sunny_sky-wallpaper-1366x768.jpg);
   height: 100% ;
    background-size:auto;
   
}

header{
    background-image: url(cropped-congruent_pentagon.png)
    
}

.container{
    width: 960px;
    margin:  50px ;
    font-family: cursive;
    padding-top: 13px;
    height: 100%;
}

#logo{
    margin-bottom: 10px;
}



.menu{
    margin: 120px;
    
    background-size: cover;
}
.nev_menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nev_menu li{
    min-width: 18em;
    float:left;
    margin-right: 1em;
    text-align: center;
}
.nev_menu li a:link,


.nev_menu li a:hover{
    background-color: lightsalmon;
    -webkit-transform: scale(2,2);
    -moz-transform: scale(2,2);
        -o-transform: scale(2,2);
    transform: scale(2,2);
}


.nav_menu li a:hover{ 
    background-color: aquamarine;
    
}


.nev_menu a {
    display: block;
    width: 80px;
    
}

.clear{
    clear:both;
}
